# These owners will be the default owners for everything in
# the repo. Unless a later match takes precedence,
# @jdhoffa will be requested for review when someone opens 
# a pull request.
*       @jdhoffa
# The entire tech team should be code-owners of all `*.md` 
# files except for the README.md
*.md !README.md @RMI-PACTA/developers
