# These owners will be the default owners for everything in
# the repo. Unless a later match takes precedence,
# @jdhoffa will be requested for review when someone opens 
# a pull request.
*       @jdhoffa
# The RMI-PATA developer team should be code-owners of all 
# `*.md` files except for `README.md`.
*.md @AlexAxthelm @cjyetman @jacobvjk @jdhoffa @MonikaFu
README.md @jdhoffa
